# Искуственный интеллект
## лабораторная работа №4
#### вариант 20:  Определить зависимость счастья пользователя от пола, возраста и количества друзей. Уровень счастья мерить как среднее значение эмоции счастья для всех лиц на последних 100 фотографиях в ленте/альбомах. Аккаунты для анализа взяты у друга, у которого более 100 друзей.
### __спойлер__ (забыл указать в выводе в отчёте по работе): наивный алгоритм обучения на маленькой обучающей выборке с небольшим количеством признаков не даёт хорошего качества.

In [1]:
from azureml import Workspace
ws = Workspace()
experiment = ws.experiments['626122c45eeb4b5a86fa9e4a2045df05.f-id.7922654217874427aad1bf54fe4c9216']

### обучающая выборка
собрана с помощью [скрипта](https://github.com/jfxd/aiLab4/blob/master/ailab4publish.py)

In [2]:
ds1 = ws.datasets['training_set3796212_v2.csv']
frame1 = ds1.to_dataframe()

In [ ]:
frame1

       Uid  Happiness  Age  Sex  numOfFriends
0      549   0.516667   30    2           263
1      905   0.654800   36    1          1195
2     3450   0.430500   24    2           321
3     4606   0.177750   48    2           445
4     5638   0.034833   30    2          1179
5     6589   0.082091   37    2           276
6     8704   0.500500   29    2           615
7    12873   0.406286   29    2           158
8    13223   0.684500   29    1           834
9    14492   0.459000   32    2           439
10   15395   0.095000   29    2           269
11   15416   0.108000   30    2           212
12   17005   0.462000   30    2            36
13   17787   0.438167   24    2          1047
14   18181   0.247333   30    1          4366
15   19903   0.443167   27    2           333
16   21716   0.019500   36    2          1330
17   34261   0.501000   31    2           443
18   36330   0.335000   28    2          2661
19   44722   0.147091   37    2          1036
20   54229   0.482857   31    2           600
21   57825   0.562625   29    2           769
22   63802   0.369875   34    2           238
23   65856   0.153000   27    2           416
24   70626   0.493200   30    1           263
25   71663   0.272250   27    1           392
26   74022   0.310818   28    2           338
27   77756   0.501333   29    2           534
28   91727   0.000000   28    2           435
29  100490   0.242800   42    2           456
..     ...        ...  ...  ...           ...
70  514146   0.104286   28    2           224
71  523063   0.000000   34    2           115
72  534110   0.154857   32    1           284
73  548235   0.403286   33    1           487
74  553893   1.000000   31    2           189
75  554774   0.528000   30    2           329
76  559972   0.225250   36    1           880
77  562325   0.359333   30    2           633
78  569505   0.023000   32    2           492
79  585024   0.558250   42    2           134
80  612539   0.208000   30    2           260
81  620860   0.322778   29    2           163
82  641922   0.974714   28    2           237
83  679253   0.126000   26    1           424
84  681730   0.467875   28    2           518
85  695699   0.264000   42    2           338
86  709939   0.193438   27    2           372
87  716272   0.847500   29    2           231
88  723306   0.931000   28    2           229
89  727886   0.444538   27    2           174
90  758378   0.451250   48    2           479
91  777285   0.054000   39    2             4
92  780569   0.403706   36    1           119
93  798405   0.272000   34    2           122
94  811911   0.156125   40    2           326
95  817569   0.076000   29    2           146
96  845817   0.087000   46    1           675
97  850905   0.554143   31    2           159
98  853382   0.384333   28    1           261
99  896354   0.000000   41    2           531

[100 rows x 5 columns]

### оценка модели
использовался алгоритм boosted decision tree из azure ml с дефолтными настройками.
[эксперимент в azure ml studio](https://gallery.cortanaintelligence.com/Experiment/Experiment-created-on-27-05-2017)

In [4]:
ds2 = experiment.get_intermediate_dataset(
    node_id='07a3910a-d499-4ff9-9e8e-00c5de438395-2221',
    port_name='Results dataset',
    data_type_id='GenericCSV'
)
frame2 = ds2.to_dataframe()

In [5]:
frame2

       Uid  Happiness  Age  Sex  numOfFriends  Scored Labels
0    34261   0.501000   31    2           443       0.386016
1   229812   0.470000   29    1            78       0.475334
2   203284   0.512333   30    2          4422       0.290105
3    15395   0.095000   29    2           269       0.394165
4   463039   0.442250   30    2           559       0.427527
5   559972   0.225250   36    1           880       0.337092
6   709939   0.193438   27    2           372       0.252668
7   156197   0.476143   30    2          1836       0.401802
8      549   0.516667   30    2           263       0.255296
9     5638   0.034833   30    2          1179       0.251820
10  455089   0.515000   30    1           317       0.167624
11   18181   0.247333   30    1          4366       0.386090
12  394575   0.007000   33    2           198       0.374396
13  620860   0.322778   29    2           163       0.504463
14   91727   0.000000   28    2           435       0.381835
15   14492   0.459000   32    2           439       0.340036
16   21716   0.019500   36    2          1330       0.425573
17   65856   0.153000   27    2           416       0.339235
18  449046   0.574364   25    1           247       0.223972
19  226219   0.124000   33    2           367       0.425392
20  414250   0.003000   31    2           347       0.264887
21   17005   0.462000   30    2            36       0.195587
22  723306   0.931000   28    2           229       0.596115
23  853382   0.384333   28    1           261       0.249842
24  290071   0.484333   43    2           299       0.164939

In [6]:
ds3 = experiment.get_intermediate_dataset(
    node_id='07a3910a-d499-4ff9-9e8e-00c5de438395-1546',
    port_name='Results dataset',
    data_type_id='GenericCSV'
)
frame3 = ds3.to_dataframe()

In [7]:
frame3

,Mean Absolute Error,Root Mean Squared Error,Relative Absolute Error,Relative Squared Error,Coefficient of Determination
0,0.219095,0.248367,1.100505,1.154583,-0.154583